* {
  margin: 0px;
  padding: 0px;
  font-family: roboto;
}

.nav {
  height: 60px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  padding-left: 10px;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  color: white;
  padding-right: 15px;
  list-style-type: none;
  font-size: 19px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.btn {
  width: 100px;
  height: 30px;
  border-color: black;
  box-shadow: 3px 5px 0px black;
  background-color: lightblue;
  font-size: 19px;
  align-items: center;
}
